@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
    width: 250px;
    background-color: #fff8e1;
}

button {
    border: none;
    background-color: #ffca28;
    border-radius: 4px;
    border: 2px solid gray;
    padding-bottom: 3px;
    padding-top: 11px;
    color: #4e342e;
    font-size: 1.5rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}

button:active {
    background-color: #dea90b;
}

#joke {
    margin-top: 30px;
    font-style: bold;
    font-size: 1.5rem;
    color: #333333;
}

.jokeBox {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    color: #2b2b2b;
    padding: 1rem;
    border-radius: 16px;
    font-size: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: none;
    margin-top: 20px;
    border: 2px solid black;
}